<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <p style="padding: 90px 9% 5%; font-size: 16px;">
    <a class="icon-twitter-menu" style="text-decoration: none;" href="https://twitter.com/aye_tf">
    <span style="font-size: 0.9em">@aye_tf</span></a><br/>
    <a class="icon-flickr-menu" style="text-decoration: none;" href="https://www.flickr.com/photos/_tf_/">
    <span style="font-size: 0.9em">aye_tf</span></a></p>
    {{#if @labs.subscribers}}
        <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
    {{else}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    {{/if}}
</div>
<span class="nav-cover"></span>
